:root {
    --button-color: #2e2b2b5b;
    --button-hover-color: #be30b2b8;
    --button-keyboard-input:  #d9342fa6;
    --menu-settings-color: #ffffff84;
    --menu-settings-color-border:  rgb(128, 128, 128);
    --menu-settings-border-radius: 40px;
    --background-color: #4e1683;
}



.exploshionBall{
    position: absolute; vertical-align: middle; 
    shape-outside: circle(); 
    clip-path: circle(); 
    transition: all 3s;
}






html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--background-color);
}




#TextShow {
    overflow-wrap: break-word;
    min-width: 0;
    position: absolute; 
    top: 20px; 
    color: black;
    padding: 20px;
    text-wrap: wrap;
    max-width: 50%;
    box-sizing: content-box;
    border: var(--menu-settings-color-border) solid;
    border-radius: var(--menu-settings-border-radius);
    background-color: var(--menu-settings-color) ;
}






#settings{
    display: flex;
    flex-direction: column;

    padding: 15px;
    margin: 20px;
    position: absolute;
    width: 200px;

    border: var(--menu-settings-color-border) solid;
    border-radius: var(--menu-settings-border-radius);
    background-color: var(--menu-settings-color) ;
    top: 0px;
    left: 0px;
}
#settings > section {
    display: flex;
}
.color{
    transform: translateY(10px);
}




#FangYuanVideo{
    width: 600px; 
    height: 600px; 
    position: absolute; 
    vertical-align: middle;
    animation-name: FangYuanAnimation; 
    animation-duration: 7s;
    animation-iteration-count: infinite;

}

@keyframes FangYuanAnimation {
    0%{transform: scale(0.8);
    }
    25%{transform: scale(1);    
    }
    50%{transform: scale(0.8);
    }
    75%{transform: scale(1);}

    100%{transform: scale(0.8);
    }
}




#keyboard {
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 1195px;

    padding-left: 4px;
    display: grid;
    width: 1185px;
    height: 430px;
    border: solid transparent;

    grid-template-rows: 45px 75px 75px 75px 75px 1fr;
    grid-template-columns: 1fr;
    
}
#keyboard > .rows div:hover {
    background-color: var(--button-hover-color);
    transition: all 0s;
}
.rows  div {
    justify-items: flex-end;
    background-color: var(--button-color);
    height: 62px;
    width: 65px;
    border-radius: 6px;
    transition: all 3s ease-out;
   
}
img{
    margin-top: 10px;
    width: 1200px;
}
.rows {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    gap:  11px;
    align-items: center;
}
div:last-child {
    margin-right: 5px;
    margin-left: auto;
    
}
#row1 > div {
    width: 68px;
    height: 36px;
}
#row2 {
    gap: 11.3px;
}
#row3 {
    gap: 11.3px;
}
#row4{
    gap: 11px;
}
#row5{
    gap: 11.3px;
}
#row6{
    gap: 11.5px;
}
#row6 > div {
    height: 71px;
}
#Enter {
    background-color: var(--button-color);
    width: 80px;
    height: 133px;
    clip-path: polygon(100% 0, 100% 100%, 22% 100%, 22% 46%, 0 46%, 0 0);
    position: relative;
    top: 36px;
    border-radius: 6px;
}