:root {
    --button-color: rgba(0, 0, 0, 0.192);
    --button-hover-color: rgba(0, 128, 0, 0.256);
    --button-keyboard-input:  rgba(128, 45, 0, 0.283);
}

#keyboard {
    display: grid;
    width: 1185px;
    height: 430px;
    border: solid transparent;
    transform: translate(0, -440px);

                        
    grid-template-rows: 45px 75px 75px 75px 75px 1fr;
    
}

#keyboard > .rows div:hover {
    background-color: var(--button-hover-color);
}

#Enter:hover {
    background-color: var(--button-hover-color);
}

img{
    margin-top: 10px;
}

.rows {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    gap:  11.5px;
    align-items: center;
}

.rows  div {
    justify-items: flex-end;
    background-color: var(--button-color);
    height: 62px;
    width: 65px;
    border-radius: 6px;
}



div:last-child {
    margin-left: auto;
    
}


#row1 > div {
    width: 68px;
    height: 36px;
}

#row2 {
    gap: 11.8px;
}

#row3 {
    gap: 11.95px;
}

#row4{
    gap: 11.5px;
}

#row5{
    gap: 11.8px;
}

#row6{
    gap: 11.5px;
}

#row6 > div {
    height: 71px;
}


#Enter{
    background-color: var(--button-color);
    width: 80px;
    height: 133px;
    clip-path: polygon(100% 0, 100% 100%, 22% 100%, 22% 46%, 0 46%, 0 0);
    transform: translate(1020px, -745px);
    border-radius: 6px;
}


body {
    height: 800px;
}